[Unit]
Description=Polybar
After=graphical-session.target network.target

[Service]
ExecStart=/usr/bin/polybar
Restart=always
Environment=DISPLAY=:1
Environment=XDG_RUNTIME_DIR=/run/user/%U

[Install]
WantedBy=default.target
