/home/peter/.kodi/userdata/*
!/home/peter/.kodi/userdata/guisettings.xml
!/home/peter/.kodi/userdata/profiles.xml
!/home/peter/.kodi/userdata/sources.xml
!/home/peter/.kodi/userdata/RssFeeds.xml
!/home/peter/.kodi/userdata/.gitkeep

/home/peter/.spicetify/*
!/home/peter/.spicetify/CustomApps
!/home/peter/.spicetify/Extensions
!/home/peter/.spicetify/Themes
!/home/peter/.spicetify/jsHelper
!/home/peter/.spicetify/.gitkeep

/home/peter/.config/synth-shell/*
!/home/peter/.config/synth-shell/synth-shell-prompt.config
!/home/peter/.config/synth-shell/synth-shell-prompt.root.config
!/home/peter/.config/synth-shell/.gitkeep
