$HOME/.kodi/userdata/*
!$HOME/.kodi/userdata/guisettings.xml
!$HOME/.kodi/userdata/profiles.xml
!$HOME/.kodi/userdata/sources.xml
!$HOME/.kodi/userdata/RssFeeds.xml
!$HOME/.kodi/userdata/.gitkeep

$HOME/.spicetify/*
!$HOME/.spicetify/CustomApps
!$HOME/.spicetify/Extensions
!$HOME/.spicetify/Themes
!$HOME/.spicetify/jsHelper
!$HOME/.spicetify/.gitkeep

$HOME/.config/synth-shell/*
!$HOME/.config/synth-shell/synth-shell-prompt.config
!$HOME/.config/synth-shell/synth-shell-prompt.root.config
!$HOME/.config/synth-shell/.gitkeep

/usr/local/bin/*
!/usr/local/bin/tor-arti.sh
