* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: none;
    border-radius: 0px;
}

window#waybar
{
    color: #EBDBB2;
    background: #282828;
}

#workspaces,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#wireplumber,
#custom-consumption,
#custom-bluetooth,
#custom-peripherals,
#custom-spotify,
#sway-language
{
    color: #EBDBB2;
}

#workspaces
{
    padding-left: 3px;
}

#workspaces button
{
    color: #EBDBB2;
    background-color: #282828;
    padding: 0 10px;
    margin-right: 10px;
}

#workspaces button:hover
{
    background: rgba(0, 0, 0, 0);
}

#workspaces button.focused
{
    color: #282828;
    background-color: #EBDBB2;
}

#workspaces button.focused label
{
    color: #282828;
    background-color: #EBDBB2;
}


#workspaces button.urgent
{
    color: #282828;
    background-color: #D3869B;
}

#custom-space
{
    color: #282828;
    padding-left: 55px;
}

#custom-resize-mode {
    background-color: #EBDBB2;
    color: #282828;
    padding: 0px 10px;
}
